# # ---- STT(Speech to Text) ----
OPENAI_API_KEY= "YOUR_OPENAI_API_KEY"
# # ---- LLM ----
OPENAI_API_KEY="YOUR_OPENAI_API_KEY"

# # ---- TTS(Text to Speech) ----
ELEVEN_API_KEY="YOUR_ELEVENLABS_API_KEY"


# Livekit
LIVEKIT_URL= "YOUR_LIVEKIT_URL"
LIVEKIT_API_KEY= "YOUR_LIVEKIT_API_KEY"
LIVEKIT_API_SECRET= "YOUR_LIVEKIT_API_SECRET"
LIVEKIT_TOKEN = "YOUR_LIVEKIT_TOKEN"


# # ---- Config ----
# LLM_MODEL=llama3-8b-8192
# STT_MODEL=whisper-1